# Fichiers Python compilés
__pycache__/
*.py[cod]

# Fichiers système
.DS_Store
Thumbs.db

# fichiers IDE
.vscode/
.idea/

# Exemple de .gitignore
firebase_service_account.json

# fichiers secrets
.env
db.sql