/* Évite le flash pendant le chargement */
html.loading {
    visibility: hidden;
}

/* Styles pour le mode sombre */
.dark {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
}

/* Appliquer les fonds gris de gray-100 à gray-900 en mode sombre */
/* Gray 100 */
.dark .dark\:bg-gray-100 {
    background-color: #f3f4f6; /* Gray 100 */
}

/* Gray 200 */
.dark .dark\:bg-gray-200 {
    background-color: #e5e7eb; /* Gray 200 */
}

/* Gray 300 */
.dark .dark\:bg-gray-300 {
    background-color: #d1d5db; /* Gray 300 */
}

/* Gray 400 */
.dark .dark\:bg-gray-400 {
    background-color: #9ca3af; /* Gray 400 */
}

/* Gray 500 */
.dark .dark\:bg-gray-500 {
    background-color: #6b7280; /* Gray 500 */
}

/* Gray 600 */
.dark .dark\:bg-gray-600 {
    background-color: #4b5563; /* Gray 600 */
}

.dark .dark\:bg-gray-700 {
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.dark .dark\:bg-gray-800 {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.dark .dark\:bg-gray-900 {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

/* Couleur du texte pour le mode sombre */
.dark .dark\:text-white {
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark .dark\:text-gray-300 {
    color: rgb(209 213 219 / var(--tw-text-opacity));
}

.dark .dark\:text-gray-400 {
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.dark .dark\:text-gray-700 {
    color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.dark .dark\:text-gray-800 {
     color: rgb(31 41 55 / var(--tw-bg-opacity));
}

/* Bordure pour le mode sombre */
.dark .dark\:border-gray-700 {
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

/* Effet au survol dans le mode sombre */
.dark .dark\:hover\:bg-gray-700:hover {
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

/* Effet au survol dans le mode sombre */
.dark .dark\:hover\:bg-gray-600:hover {
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.dark .dark\:bg-blue-600 {
    background-color: #3182ce; /* Blue 600 */
}

.dark .dark\:bg-blue-700 {
    background-color: #2b6cb0; /* Blue 700 */
}

.dark .dark\:bg-blue-800 {
    background-color: #2c5282; /* Blue 800 */
}

.dark .dark\:bg-blue-900 {
    background-color: #1e3a8a; /* Blue 900 */
}

/* Appliquer des couleurs de texte allant de blue-100 à blue-700 en mode sombre */
.dark .dark\:text-blue-100 {
    color: #ebf8ff; /* Blue 100 */
}

.dark .dark\:text-blue-200 {
    color: #bee3f8; /* Blue 200 */
}

.dark .dark\:text-blue-300 {
    color: #90cdf4; /* Blue 300 */
}

.dark .dark\:text-blue-400 {
    color: #63b3ed; /* Blue 400 */
}

.dark .dark\:text-blue-500 {
    color: #4299e1; /* Blue 500 */
}

.dark .dark\:text-blue-600 {
    color: #3182ce; /* Blue 600 */
}

.dark .dark\:text-blue-700 {
    color: #2b6cb0; /* Blue 700 */
}


/* Appliquer un fond de couleur green-100 à green-800 en mode sombre */

/* Green 100 */
.dark .dark\:bg-green-100 {
    background-color: #f0fff4; /* Green 100 */
}

/* Green 200 */
.dark .dark\:bg-green-200 {
    background-color: #c6f6d5; /* Green 200 */
}

/* Green 300 */
.dark .dark\:bg-green-300 {
    background-color: #9ae3b3; /* Green 300 */
}

/* Green 400 */
.dark .dark\:bg-green-400 {
    background-color: #68d391; /* Green 400 */
}

/* Green 500 */
.dark .dark\:bg-green-500 {
    background-color: #48bb78; /* Green 500 */
}

/* Green 600 */
.dark .dark\:bg-green-600 {
    background-color: #38a169; /* Green 600 */
}

/* Green 700 */
.dark .dark\:bg-green-700 {
    background-color: #2f855a; /* Green 700 */
}

/* Green 800 */
.dark .dark\:bg-green-800 {
    background-color: #276749; /* Green 800 */
}

.dark .dark\:bg-green-900 {
    background-color: #164e41; /* Green 900 */
}

.dark .dark\:text-green-100 {
    color: #f0fff4; /* Green 100 */
}

.dark .dark\:text-green-200 {
    color: #c6f6d5; /* Green 200 */
}

.dark .dark\:text-green-300 {
    color: #9ae3b3; /* Green 300 */
}

.dark .dark\:text-green-400 {
    color: #68d391; /* Green 400 */
}

.dark .dark\:text-green-500 {
    color: #48bb78; /* Green 500 */
}

.dark .dark\:text-green-600 {
    color: #38a169; /* Green 600 */
}

.dark .dark\:text-green-700 {
    color: #2f855a; /* Green 700 */
}

/* Red 900 */
.dark .dark\:bg-red-900 {
    background-color: #b91c1c; /* Red 900 */
}

/* Appliquer une couleur de texte rouge clair (red-200) */
.dark .dark\:text-red-200 {
    color: #fecaca; /* Red 200 */
}

/* Appliquer un fond jaune foncé en mode sombre */

/* Yellow 700 */
html.dark .dark\:bg-yellow-700 {
    background-color: #b7791f; /* Yellow 700 */
}

/* Yellow 800 */
html.dark .dark\:bg-yellow-800 {
    background-color: #975a16; /* Yellow 800 */
}

/* Yellow 900 */
.dark .dark\:bg-yellow-900 {
    background-color: #9b5b00; /* Yellow 900 */
}

/* Appliquer des couleurs de texte allant de yellow-100 à yellow-700 en mode sombre */
.dark .dark\:text-yellow-100 {
    color: #fffff0; /* Yellow 100 */
}

.dark .dark\:text-yellow-200 {
    color: #fefcbf; /* Yellow 200 */
}

.dark .dark\:text-yellow-300 {
    color: #faf089; /* Yellow 300 */
}

.dark .dark\:text-yellow-400 {
    color: #f6e05e; /* Yellow 400 */
}

.dark .dark\:text-yellow-500 {
    color: #ecc94b; /* Yellow 500 */
}

.dark .dark\:text-yellow-600 {
    color: #d69e2e; /* Yellow 600 */
}

.dark .dark\:text-yellow-700 {
    color: #b7791f; /* Yellow 700 */
}

/* Appliquer des couleurs de texte allant de purple-100 à purple-700 en mode sombre */
.dark .dark\:text-purple-100 {
    color: #faf5ff; /* Purple 100 */
}

.dark .dark\:text-purple-200 {
    color: #e9d8fd; /* Purple 200 */
}

.dark .dark\:text-purple-300 {
    color: #d6bcfa; /* Purple 300 */
}

.dark .dark\:text-purple-400 {
    color: #b794f4; /* Purple 400 */
}

.dark .dark\:text-purple-500 {
    color: #9f7aea; /* Purple 500 */
}

.dark .dark\:text-purple-600 {
    color: #805ad5; /* Purple 600 */
}

.dark .dark\:text-purple-700 {
    color: #6b46c1; /* Purple 700 */
}

/* Appliquer un fond de couleur purple-100 à purple-800 en mode sombre */

/* Purple 100 */
.dark .dark\:bg-purple-100 {
    background-color: #faf5ff; /* Purple 100 */
}

/* Purple 200 */
.dark .dark\:bg-purple-200 {
    background-color: #e9d8fd; /* Purple 200 */
}

/* Purple 300 */
.dark .dark\:bg-purple-300 {
    background-color: #d6bcfa; /* Purple 300 */
}

/* Purple 400 */
.dark .dark\:bg-purple-400 {
    background-color: #b794f4; /* Purple 400 */
}

/* Purple 500 */
.dark .dark\:bg-purple-500 {
    background-color: #9f7aea; /* Purple 500 */
}

/* Purple 600 */
.dark .dark\:bg-purple-600 {
    background-color: #805ad5; /* Purple 600 */
}

/* Purple 700 */
.dark .dark\:bg-purple-700 {
    background-color: #6b46c1; /* Purple 700 */
}

/* Purple 800 */
.dark .dark\:bg-purple-800 {
    background-color: #553c9a; /* Purple 800 */
}
